body{
    font-family:lato;
  }
  
  .container{
    margin-top:3em;
  }
  
  .alpha{
    vertical-align: middle;
  }
  
  .row{
    margin-bottom:3em;
  }
  
  #header h1{
    text-transform:uppercase;
    font-weight:800;
    color: #ffc300;
    margin-bottom: 0.85em;
  }
  
  #outer{
    border: 1px solid #CCC;
    width: 100vw;
  }
  
  thead{
    background: #ffc300;
    color: #FFF;
    height: 50px;
    text-transform:uppercase;
    padding-bottom: 1rem;
  }
  
  tfoot{
    background: #ffc300;
    color: #FFF;
    height: 50px;
    text-transform:uppercase;
    font-weight:800;
  }
  tr{
    min-height: 100px;
  }
  
  .nomModule{
    padding-top:1rem;
  }
  
  td{
    padding:1rem;
  }
  
  input{
    display:block;
    border: none;
    border-bottom:2px solid #CCC;
    border-radius: 25px;
    margin-left:auto;
    margin-right:auto;
    float:none;
  }
  
  .mainRow{
    border-bottom:1px solid #EEE;
  }
  /*fix this shit*//*FIXED!*/
  .mainRow:nth-child(even){
    background-color:#EEE;
  }
  
  .no-spinners {
    -moz-appearance:textfield;
    margin-left: auto;
    margin-right: auto;
    float:none;
  }
  
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .alter{
    padding-left: 3em;
    padding-right: auto;
  }
  
  #footer h3{
    color: #ffc300;
    text-decoration:underline;
    font-weight: bold;
  }